<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>

    <h1>Signup</h1>

    <form method="POST" action="/user/">

        <label>Enter your full name : </label>
        <input type="text" required name="username" placeholder="username" /><br>

        <label>Enter your email : </label>
        <input type="email" required name="email" placeholder="email" /><br>

        <label>Enter your password : </label>
        <input type="password" required name="password" placeholder="password" /><br>

        <button type="submit">Signup</button>

    </form>

</body>
</html>